* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
gradlew text eol=lf
gradlew.bat text eol=crlf

*.jar binary
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ogg binary
*.mp3 binary
*.flac binary
*.wav binary

*.patch text eol=lf
*.diff text eol=lf
